{% extends "base.html" %}

{% block content %}
<div class="column is-8">
    <h3 class="title">Contacts</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-info" id="fadeout">
            <button class="delete"></button>
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <div class="pb-3">
        <a class="button is-success" href="{{ url_for('main.addcontact') }}">Add Contact</a>
    </div>
{% if contactsCount > 0 %}
<table class="table is-striped is-hoverable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
    <tr>
        <td>{{contact.name|truncate(50, True)}}</td>
        <td>{{contact.company|truncate(50, True)}}</td>
        <td>{{contact.email|truncate(50, True)}}</td>
        <td>{{contact.phoneNumber|truncate(50, True)}}</td>
        <td>
            <div class="pb-3">
                <a class="button is-success is-small" href="{{ url_for('main.editcontact', contact_id=contact.id) }}">Edit</a>
                {% if isAdmin %}
                <a class="button is-danger is-small" href="{{ url_for('main.deletecontact', contact_id=contact.id)}}">Delete</a>
                {% endif %}
            </div>
           
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No contacts found</p>
{% endif %}
</div>
{% endblock %}
