{% extends "base.html" %}

{% block content %}
<div class="column is-4">
    <h3 class="title">Delete Contact</h3>
    
    <h4>Are you sure you want to delete this contact?</h5>
    <div class="box">
        <div class="field">
            <strong>Name: </strong>{{contact.name}}
        </div>

        <div class="field">
            <strong>Company: </strong>{{contact.company}}
        </div>

        <div class="field">
            <strong>Email: </strong>{{contact.email}}
        </div>

        <div class="field">
            <strong>Tel:</strong> {{contact.phoneNumber}}
        </div>

        <span>
            <a class="button is-info" href="{{ url_for('main.contacts') }}">Cancel</a>
            <a class="button is-danger" href="{{ url_for('main.confirmdelete', contact_id=contact.id)}}">Delete</a>
        </span>
    </div>
</div>
{% endblock %}