{% extends "base.html" %}

{% block content %}
<div class="column is-4">
    <h3 class="title">Edit Contact</h3>
    <a class="pb-3" href="{{ url_for('main.contacts') }}">
        <strong>Back to contacts</strong>
        </a>
    <div class="box">
        <form method="POST" action="/editcontact">
            <input class="input" type="hidden" name="id" value="{{contact.id}}">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="name" value="{{contact.name}}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="company" value="{{contact.company}}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="email" name="email"  value="{{contact.email}}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="tel" name="telephone"  value="{{contact.phoneNumber}}" autofocus="">
                </div>
            </div>

            <button class="button is-block is-success is-fullwidth">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}