{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to the Contacts App
</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-info" id="fadeout">
          <button class="delete"></button>
          {{ messages[0] }}
      </div>
  {% endif %}
{% endwith %}

<h2 class="subtitle">
  {% if not current_user.is_authenticated %}
  Here you can manage the contact information for all of your customers. Please sign in to get started
  {% else %}                   
  Visit the contacts page to add and manage contacts.
  {% endif %}
</h2>

{% endblock %}